<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="headings">
        <h1>Task Chooser</h1>
        <h2>Create tasks, then let the randomizer choose which one you should do</h2>
      </div>

      <div class="task-list-wrapper">
        <ul class="task-list">
          <li *ngFor="let task of tasks; index as i">{{task.value}}</li> <!--TODO: trackby function-->
        </ul>
      </div>
      <button [disabled]="tasks.length === 0" >Randomize</button>

    </div>

    <div class="right-side">
      <app-sidebar [tasks]="tasks"></app-sidebar>
    </div>
  </div>
</main>




<router-outlet />
